header {
display: flex;
align-items: center;
position: fixed;
z-index: 1;
border-bottom: 1px solid black;
background-color: white;
width: 100%;
height: 80px;
font-size: 14px;
font-family: Verdana;
font-weight: bold;
top: 0;
}

.logo span {
  display: flex;
  margin: 10Px 450px 10px 10px;
  color: MediumAquamarine;
}

.logo {
  display: flex;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  margin-right: 400px;
}

header nav {
 padding-right: 40px;
}

nav span{
  display: inline-block;
  padding: 1px 10px;
}

nav a {
  color: black;
}

nav {
  display: block;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.content {
  display: flex;
  border: 1px solid black;
  min-width: auto;
  min-height: auto;
  justify-content: space-between;
  position: relative;
  top: 0;

  padding-top: 120px;
  padding-right: 30px;


}

.column.large {
  width: 630px;
  height: 1390px;
  display: flex;
  border: 1px solid black;
}

.column.medium {
  width: 300px;
  display: flex;
  border: 1px solid black;
}

.column.small {
  width: 240px;
  display: flex;
  border: 1px solid black;
}

.first.story{
  display: block;
  min-width: 630px;
  height: 1090px;
  border: 1px solid black;
}

.second.story{
  display: block;
  min-width: 630px;
  height: 139px;
  border: 1px solid black;
  top: 520px;
  position: relative;
  right: 632px;
}

.third.story {
  display: block;
  min-width: 630px;
  height: 30px;
  border: 1px solid black;
  top: 659px;
  position: relative;
  right: 1265px;
}

.fourth.story {
  display: block;
  min-width: 300px;
  height: 400px;
  border: 1px solid black;
  top: 0px;
  position: relative;
}

.fith.story{
  display: block;
  min-width: 300px;
  height: 525px;
  border: 1px solid black;
  top: 400px;
  position: relative;
  right: 302px
}

.image.space{
  display: flex;
  border: 1px solid black;
  width: 100%;
}

.image.right {
  display: block;
  width: 240px;
  height: 240px;
  border: 1px solid black;
  top: 0px;
  position: relative;
  right: 0px
}

.news {
  display: block;
  min-width: 240px;
  height: 155px;
  border: 1px solid black;
  top: 241px;
  position: relative;
  right: 242px;

}

.image.space.a {
  font-size: 40px;
  height: 300px;
  width: 630px;
  background-image: url('../resources/images/img-story-main.png');
}

.image.space.b {
  height: 300px;
  width: 630px;
  background-image: url('../resources/images/img-story-2.png');
}

.image.space.c {
  height: 300px;
  width: 630px;
  background-image: url('../resources/images/img-story-3.png');
  top: 240;
}

.image.space.d {
  height: 300px;
  width: 300px;
  background-image: url('../resources/images/img-story-1.png');
  top: 240;
}

.image.space {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
